<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8">

<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jianli.css">


<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>


<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>


<script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="/static/js/util.js"></script>
<script src="/static/js/html2canvas.js"></script>
<script src="/static/js/Tearing.js"></script>
<script src="/static/js/jianli.js"></script>



<title>吴志超的简历</title>


</head>

<body>

<div class="maxscreen backgroud_black">
    <div class="div_jianli">
        <h1>简历</h1>
        <div class="row">
            <div class="col-lg-6"><p>姓名</p></div>
            <div class="col-lg-6"> <p>吴志超</p></div>
        </div>
        <div class="row">
            <div class="col-lg-6"><p>年龄</p></div>
            <div class="col-lg-6"> <p>22</p></div>
        </div>
        <div class="row">
            <div class="col-lg-6"><p>院校</p></div>
            <div class="col-lg-6"> <p>重庆大学</p></div>
        </div>
        <div class="row">
            <div class="col-lg-6"><p>学历</p></div>
            <div class="col-lg-6"> <p>本科</p></div>
        </div>
        <div class="row">
            <div class="col-lg-6"><p>专业</p></div>
            <div class="col-lg-6"> <p>计算机科学与技术</p></div>
        </div>
        <div class="row">
            <div class="col-lg-6"><p>奖项</p></div>
            <div class="col-lg-6"> <p>2017-2018重庆大学乙等奖学金</p></div>
        </div>
        <div class="row">
            <div class="col-lg-6"><p>技能</p></div>
            <div class="col-lg-6"> <p>语言不是重点，需要跨越的是思维</p></div>
        </div>

    <div class="row">
        <div class="col-lg-6"><p>经验</p></div>

        <div class="col-lg-6">
            <p>
            大二学习过windows桌面程序开发<br>
            大三与团队开发了android手机应用“气质佳”获得挑战杯三等奖<br>
            自学网站安全方面的知识并应用<br>
            用python写了关于爬虫的一些小程序<br>
            大四的毕业设计课题为神经网络与深度学习<br>
            在大学期间用matlab接些算法方面的程序
            </p>
        </div>
    </div>


    </div>
    <div id="div_jianli_before" style="position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);">
        <table id="table_jianli">
            <tr>
                <th class="tabel_title" colspan="2"><h1>简历</h1></th>
            </tr>
            <tr>
                <th><p>姓名</p></th>
                <th><p>吴志超</p></th>
            </tr>
            <tr>
                <th><p>年龄</p></th>
                <th><p>22</p></th>
            </tr>
            <tr>
                <th><p>院校</p></th>
                <th><p>重庆大学</p></th>
            </tr>
            <tr>
                <th>专业</th>
                <th>计算机科学与技术</th>
            </tr>
            <tr>
                <th>奖项</th>
                <th>2017-2018重庆大学乙等奖学金</th>
            </tr>
            <tr>
                <th>技能</th>
                <th>语言不是重点，需要跨越的是思维</th>
            </tr>
            <tr>
                <th>经验</th>
                <th>
                    <p>
                    大二学习过windows桌面程序开发<br>
                    大三与团队开发了android手机应用“气质佳”获得挑战杯三等奖<br>
                    自学网站安全方面的知识并简单应用<br>
                    用python写了关于爬虫的一些小程序<br>
                    大四的毕业设计课题为神经网络与深度学习<br>
                    在大学期间用matlab接些算法方面的程序
                    </p>
                </th>
            </tr>
        </table>
    </div>
    <div id="div_tearing" class="maxscreen backgroud_black"></div>
</div>

</body>



</html>